
    <div class="card mb-3 mt-2" style="max-width: 540px;">
      <div class="row g-0">
        <div class="col-md-4 mt-1">
          <img src="{{ url_for('static', filename='image/' + post.image_file)}}" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">{{post.title}}</h5>
            <p class="card-text">{{ _('%(description)s', description=post.description)}}</p>
            {{_('Posted by')}}: <a href="{{url_for('auth.user_posts', username=post.author.username)}}">{{post.author.username}}</a>
            <h3> <i style="max-width: 80%;">{{post.price}}</i></h3>
            {% if post.author == current_user %}
            <a class="btn btn-outline-primary" href="{{url_for('auth.update_post', post_id=post.id)}}"> Update </a>
            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal" href="{{url_for('auth.delete_post', post_id=post.id)}}"> Delete </button>
            {% else %}
            <p class="card-text"><small class="text-muted">Date posted: {{post.date_posted.strftime('%Y-%m-%d')}}</small></p>
            <form method="POST" action="{{ url_for('views.order', product_id=post.id) }}"> <input type="submit" value="Buy now!" class="btn btn-primary"></form>
            <a href="#" class="btn btn-primary">{{_('Add to cart')}}</a>
            {% endif %}
          </div>
        </div>
      </div>
    </div>