{% extends 'base.html' %}{% block title %} Account {% endblock %}

{% block content %}
    <div class="container">
    <div class="row gutters">
    <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
    <div class="card h-100">
        <div class="card-body">
            <div class="account-settings">
                <div class="user-profile">
                    <div class="user-avatar">
                        <img src="{{image}}" alt="jumia.png">
                    </div>
                    <h5>{{_('Username')}}:</h5><h6 class="user-name">{{current_user.username}}</h6>
                    <h5>{{_('Email')}}:</h5><h6 class="user-email">{{current_user.email}}</h6>
                </div>
            </div>
        </div>
    </div>
    </div>
    <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
    <div class="card h-100">
        <div class="card-body">
            <div class="row gutters">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <h6 class="mb-2 text-primary">{{_('Personal Details')}}</h6>
                </div>
                <form action="" method="POST" enctype="multipart/form-data">
                    {{ form.hidden_tag() }}
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                            {{ form.username.label(class="form-control-label") }}
                            {% if form.username.errors %}
                            {{ form.username(class="form-control form-control-lg is-invalid") }}
                               <div class="invalid-feedback">
                                 {% for error in form.username.errors %}
                                  <span>{{ error }}</span>
                                 {% endfor %}
                               </div>
                            {% else %}
                                {{ form.username(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                            {{ form.email.label(class="form-control-label") }}
                            {% if form.email.errors %}
                            {{ form.email(class="form-control form-control-lg is-invalid") }}
                               <div class="invalid-feedback">
                                 {% for error in form.email.errors %}
                                  <span>{{ error }}</span>
                                 {% endfor %}
                               </div>
                            {% else %}
                                {{ form.email(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>
                    </div>
                    <br/>
                    <div class="form-group" enctype="multipart/form-data">
                        {{ form.image.label() }}
                        {% if form.image.errors %}
                          {{ form.image(class="form-control-file") }}
                          <div class="invalid-feedback">
                            {% for error in form.image.errors %}
                              <span>{{ error }}</span>
                            {% endfor %}
                          </div>
                        {% else %}
                          {{ form.image(class="form-control-file") }}
                        {% endif %}
                    </div>
                    <br/>
                    <div class="row gutters">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="text-right">
                                 {{ form.submit(class='btn btn-primary')}}
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    </div>
    </div>
    </div>
{% endblock %}